button {
  display: block;
  margin: 2px;
  width: 200px;
  height: 45px;
  font-size: 16pt;
  font-weight: bold;
  color: Black;
}
input[type="range"] {
  display: block;
  width: 200px;
  height: 45px;
}
.LOW {
  color: LightGray;
  background-color: Gray;
}
.HIGH {
  color: White;
  background-color: Red;
}
